.card-item {
    background-color: transparent !important;
}

.card-item .card-body {
    padding-top: 5px;
    padding-left: 0px;
}
.card-item .card-body .row,
.card-item .card-body .row .col{
    width:110%;
    padding: 0;
    margin: 0;
    vertical-align:middle;
}
.card-item .card-title {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.card-item .card-text{
    color: #a9a9a9;
    font-size: 12px;
}

.card-item .card-item-body .icon {
    font-size: 20px;
}


.card-item >img {
    height: 250px !important;
}

.card-new >img {
    height: 400px !important;
}

.card-new .card-img-overlay {
   margin-top: 200px;
   background-color: rgba(0,0,0,0.7);
   border: 0;
   border-radius: 0;
   box-shadow: 0 -10px 50px black;
}

.card-new .card-img-overlay .card-text{
    font-size: 13px;
 }

.card-new .card-img-overlay .card-text{
    font-size: 12px;
 }

 .card-new .card-img-overlay .card-text .footer{
    font-size: 12px;
 }