  .navbar .navbar-brand i {
      color: #F34096;
      font-size: 30px;
  }
  
  .navbar #navbarSupportedContent .navbar-nav {
      margin-left: 89% !important;
  }
  
  .navbar .navbar-nav a {
      font-size: 20px;
  }