body {
    background-color: #090911;
}

i,
a,
p,
label,
h1,
h2,
h3,
h4,
h5 {
    color: #F1EEF5;
}

.icons {
    text-align: right;
}

.bi-eye-fill {
    color: #F34096;
}

.bi-star-fill {
    color: yellow;
}

.subtitle {
    font-size: 40px !important;
}

.row {
    margin-bottom: 50px !important;
}


#container-populars {
    z-index: 999;
    margin-top: -90px;
}

#container-search {
    background-image: url('../sources/banner1.jpg');
    background-size: 100%;

}

#container-search .background {
    background: rgb(255,255,255);
    background: linear-gradient(131deg, transparent 0%, rgba(0,0,0,0.4430147058823529) 34%);
    height: 200px;
}

#container-search h2 {
    margin: 60px;
    margin-left: 13%;
    font-size: 60px;
}